# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/.last_build_id

# macOS
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Firebase secrets
**/google-services.json
**/GoogleService-Info.plist

# Logs
*.log
